<div ng-include="'nav/_nav.html'"></div>

<div class="row">
	<div class="col-md-6">
		<h1 style="color: white;">{{user.username}}'s Wines</h1>

	<!-- Search SavySomm api -->
		<button type="button" class="btn btn-primary btn-xl pairing-button" value="" ng-click="findWineries('merlot')">Search Wineries</button>
	</div>
	<div class="col-md-3">
				<div style="align: center">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
					<ui-gmap-marker coords='marker.coords' idKey="1"></ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
	</div>
</div>

<div class="row">
<div ng-repeat="wine in wines |	orderBy:'-votes'">
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box" style="color: white;">
	  	
	  	<div><img src="{{wine.label}}" alt=""></div>
	  	<div>{{wine.name}}</div>
			     	
			  <div><b><i>Appellation:</i></b> {{wine.appellation}}</div>
			  <div><b><i>Region:</i></b> {{wine.region}}</div>
			  <div><b><i>Varietal:</i></b> {{wine.varietal}}</div>
			  <div><b><i>Winery:</i></b> {{wine.winery}}</div>
			  <div><b><i>Retail Price:</i></b> {{wine.price | currency}}</div>
			  <div><b><i>Rating:</i></b> {{wine.rating}}</div>
			  <div><b><i>Type:</i></b> {{wine.type}}</div>
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="increaseVote(wine)"></span>
        <span class="glyphicon glyphicon-thumbs-down"
        ng-click="decreaseVote(wine)"></span>
      	{{wine.vote}}
				<br>

			  <button type="button" style="color: black;" class="btn" value="{{wine}}" ng-click="deleteWine(wine)">Delete</button>


			     				<!-- <div>Category: {{wine.category}}</div> -->
<!-- 			     				<div ng-controller="WineCtrl"> -->
<!-- 			  	<button type="button" ng-click="addWine(wine)">Add to List</button> -->
				</div>
	   </div>
	 </div>
</div>	  
	 <br>
	 <br>
<div class="row">	 
		<div ng-repeat="winery in wineries" class="slide-top; col-md-4" style="color: white;">	
					<div class="service-box">
						<div>{{winery.name}}</div>
							<div ng-repeat="tasting_room in winery.tasting_rooms">
								<div>{{tasting_room.hours}}</div>
							</div>
							<div ng-repeat="varietal in winery.varietals">
								<div>{{varietal.name}}</div>
							</div>
					</div>
					<br>
					<br>
		</div>
</div>

<!-- <div style="align: center">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker coords='marker.coords' idKey="1"></ui-gmap-marker>
	</ui-gmap-google-map>
</div> -->
