<div ng-include="'nav/_nav.html'"></div>
<h1 class="text-center v-center" style="color: white;">Wine Categories</h1>

<div class="container">
	<div ng-repeat="category in categories">

				<div class="varietalButton">
	        <button class="btn btn-primary pairing-button wineCategories" value="{{category.name}}" ng-click="findVarietals(category)">{{category.name}}</button>
				</div>
	</div>
	
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
</div>
<div ng-repeat="varietal in varietals">
		<div class="varietalButton">
		        	<button type="button" class="btn btn-primary round center-block" ng-click="isCollapsed = !isCollapsed">{{varietal.name}}</button>
		</div>
		        <div ng-show="isCollapsed">
			        <div class="well well-lg" style="color: black;">
			        	<ul>
			        		Tasting Notes:
			        		<li><b>Aroma:</b> {{varietal.aroma}}</li>
									<li><b>Earth:</b> {{varietal.earth}}</li>
									<li><b>Floral:</b> {{varietal.floral}}</li>
									<li><b>Fruit:</b> {{varietal.fruit}}</li>
									<li><b>Herbal:</b> {{varietal.herbal}}</li>
									<li><b>Oak:</b> {{varietal.oak}}</li>
									<li><b>Other:</b> {{varietal.other}}</li>
									<li><b>Spice:</b> {{varietal.spice}}</li>
									<li><b>Structure:</b> {{varietal.structure}}</li>
									<li><b>Visual:</b> {{varietal.visual}}</li>
			        	</ul>
			        	<!-- Search wine.com api -->
			        	<button type="button" class="btn btn-primary round pairing-button" value="{{varietal.name}}" ng-click="findWines(varietal.name); search=true; isCollapsed=false; $root.wineList=true">Search {{varietal.name}}</button>
			       	</div>
		       	</div>
		     
		     	<!-- Search wine.com api -->
				</div>
	</ul>
</div>
</div>

