<div class="page-header">
      <h1>Wine Search</h1>
</div>

<div>
	<h4>Search By Category</h4>
</div>

	<div ng-repeat="category in categories">
		<div class="col-lg-3 col-md-6 text-center">
	      <div class="service-box">
	        <button class="btn btn-primary btn-xl" value="{{category.name}}" ng-click="findVarietals(category)">{{category.name}}</button>
	     </div>
	   </div> 
	</div>
	
<br>
<br>
<br>
<br>
<br>
<div>
	<h3>Varietals</h3>
</div>
<div ng-repeat="varietal in varietals">
		<ul>
	      <div class="service-box">
	        <li ng-click="clicked=true"><a href="">{{varietal.name}}</a></li>
	        <div>
	        	<ul ng-show="clicked">
	        		<li><b>Aroma:</b> {{varietal.aroma}}</li>
							<li><b>Earth:</b> {{varietal.earth}}</li>
							<li><b>Floral:</b> {{varietal.floral}}</li>
							<li><b>Fruit:</b> {{varietal.fruit}}</li>
							<li><b>Herbal:</b> {{varietal.herbal}}</li>
							<li><b>Oak:</b> {{varietal.oak}}</li>
							<li><b>Other:</b> {{varietal.other}}</li>
							<li><b>Spice:</b> {{varietal.spice}}</li>
							<li><b>Structure:</b> {{varietal.structure}}</li>
							<li><b>Visual:</b> {{varietal.visual}}</li>
							<button ng-click="clicked=false">Close</button>
	        	</ul>
	       	</div>
	     </div>
	     	<!-- Search wine.com api -->
			<button type="button" value="{{varietal.name}}" ng-click="findWines(varietal.name); search=true">Find {{varietal.name}}</button>	

			<!-- Make this an ng-show if the Search button is clicked -->
			<div ng-repeat="wine in wines">
					<div class="col-lg-4 col-md-4 text-center">
	      		<div class="service-box">
	     				<div>{{wine.Name}}</div>
							<div ng-repeat="Label in wine.Labels">
	     					<div><img src="{{Label.Url}}" height="72px" width="80px" alt=""></div>
	     					<div><button>Add to Favorites</button></div>
	     				</div>
	     			</div>
	  			</div> 
			</div>	

