<div ng-include="'nav/_nav.html'"></div>
<div class="row" style="color: white;">
	<div class="col-md-4"></div>
	<div class="col-md-4" style="text-align: center;">
		
	<!-- 	<div class="col-lg-3 col-md-6 text-center"> -->
			<div ng-repeat="food in foods">	
				<div><i><h2 class="text-center v-center" style="color: white;">{{food}}</h2></i></div>
			</div>
			<br>
			<br>
	<!-- 	</div> -->
		
	</div>
	<div class="col-md-4"></div>
</div>

<div class="container" ng-show="pickedFood" style="color: white;">


<div class="col-md-12">
    <div class="inner row">
        <!-- h1>Best of {{dest.name}}</h1> -->
       <div class="col-md-4"></div>
			<div class="col-md-4">
			<div class="inner row">
        <div class="col-lg-4 scale-fade" ng-repeat="foodGroup in foodGroups">
                <img ng-src="{{foodGroup.image_url}}" alt="" class="img-responsive; foodPictures" ng-click="newFood(foodGroup)">
                <div stype="text-align: center;">
								{{foodGroup.name}}
								</div>
        </div> 
			</div>
			</div>
			<div class="col-md-4"></div>
    </div> <!-- inner -->
</div> <!-- bestof -->
</div>
<br>
<br>




	
	<div class="varietalButton">
		<button type="button" class="btn btn-primary btn-xl pairing-button" ng-click="findVarietals(); pickedFood=false; showVarietals=true">Find Varietals</button>	
		<button type="button" class="btn btn-primary btn-xl pairing-button" ng-click="reset(); pickedFood=true; showVarietals=false">Start Again</button>
	</div>
	<br>
	<br>

	<div class="row" ng-show="showVarietals" style="color: white;">
		<div ng-repeat="varietal in varietals" class="slide-top; col-md-3">
		      <div class="service-box; varietalTypes">
		      	<div class="varietalButton">
		        	<button type="button" class="btn btn-primary round center-block" ng-click="isCollapsed = !isCollapsed">{{varietal.name}}</button>
		        </div>
		        <div ng-show="isCollapsed">
			        <div class="well well-lg" style="color: black;">
			        	<ul>
			        		Tasting Notes:
			        		<li><b>Aroma:</b> {{varietal.aroma}}</li>
									<li><b>Earth:</b> {{varietal.earth}}</li>
									<li><b>Floral:</b> {{varietal.floral}}</li>
									<li><b>Fruit:</b> {{varietal.fruit}}</li>
									<li><b>Herbal:</b> {{varietal.herbal}}</li>
									<li><b>Oak:</b> {{varietal.oak}}</li>
									<li><b>Other:</b> {{varietal.other}}</li>
									<li><b>Spice:</b> {{varietal.spice}}</li>
									<li><b>Structure:</b> {{varietal.structure}}</li>
									<li><b>Visual:</b> {{varietal.visual}}</li>
			        	</ul>
			        	<!-- Search wine.com api -->
			        	<button type="button" class="btn btn-primary round pairing-button" value="{{varietal.name}}" ng-click="findWines(varietal.name); search=true; isCollapsed=false; $root.wineList=true">Search {{varietal.name}}</button>
			       	</div>
		       	</div>
		     
		     	<!-- Search wine.com api -->
				</div>
		</div> 	
	</div>

				<!-- Make this an ng-show if the Search button is clicked -->
			<div ng-show="wineList">	
				<div ng-repeat="wine in wines |orderBy:'PriceRetail'" style="color: white;">
						<div class="col-lg-4 col-md-4 text-center">
		      		<div class="service-box">
								<div ng-repeat="Label in wine.Labels">
		     					<div><img src="{{Label.Url}}" height="72px" width="80px" alt=""></div>
		     						<div>{{wine.Name}}</div>
				     				<div><b><i>Appellation:</i></b> {{wine.Appellation.Name}}</div>
				     				<div><b><i>Region:</i></b> {{wine.Appellation.Region.Name}}</div>
				     				<div><b><i>Varietal:</i></b> {{wine.Varietal.Name}}</div>
				     				<div><b><i>Winery:</i></b> {{wine.Vineyard.Name}}</div>
				     				<div><b><i>Retail Price:</i></b> {{wine.PriceRetail | currency}}</div>
				     				<div><b><i>Rating:</i></b> {{wine.Ratings.HighestScore}}</div>
				     				<div>Category:{{varietal.category}}</div>
				     				<div ng-controller="WineCtrl">
				     					<button type="button" class="btn round" style="color: black;" ng-click="addWine(wine); $root.wineList=false">Add to List</button>
				     				</div>
				     				<br>
				     				<br>
				     		</div>
		     			</div>
		  			</div> 
				</div>
			</div>	
	

